<div class="container">
  <div class="navbar menunav">
    <img src="http://dof4zo1o53v4w.cloudfront.net/s3fs-public/styles/logo/public/logos/Georgia.jpg?itok=2_Jyd2u_" class="logo" alt="">
    <ul class="menu">
      <li routerLink="/customer" routerLinkActive="active">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
        ADD CUSTOMER
      </li>
      <li routerLink="/product" routerLinkActive="active">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span><br>
        PRODUCT
      </li>
      <li routerLink="/search" routerLinkActive="active">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>
        CUSOMER LIST
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
