@font-face {
  font-family: "BOGMtavruli";
  src: url("../assets/fonts/BOGMtavruli.woff") format("woff")
}

@font-face {
  font-family: "BOGNusxuri";
  src: url("../assets/fonts/BOGNusxuri.woff") format("woff")
}

:host >>> .nopadding {
  padding: 0 !important;
}

:host >>> .table-tools {
  width: 45px;
  text-align: center;
}

.container {
  width: 1000px;
  background: white;
  padding: 0px 10px;
}

.logo {
  margin-top: -16px;
  width: 300px;
}

.menunav {
  border-bottom: 2px solid #f47920;
  margin-bottom: 0px;
  border-radius: 0;
}

.menu {
  float: right;
}

.menu li {
  height: 100px;
  width: 200px;
  display: table-cell;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'BOGMtavruli';
  color: #b5b6b3;
  font-size: 14px;
}

.menu li.active {
  background-color: #f47920;
  color: white;
}

