<h1>Customer list</h1>
<table class="table table-responsive table-hover" *ngIf="customers">
  <thead>
  <tr>
    <th style="width:20px;">#</th>
    <!--[ngClass]="{ 'glyphicon-arrow-up': sortReverse, 'glyphicon-arrow-down: !sortReverse }"-->
    <th style="width:120px;"><span (click)="sort('personalId')" class="sort">Personal ID</span><i [ngClass]="sortArrow('personalId')" class="glyphicon" aria-hidden="true"></i></th>
    <th style="width:120px;"><span (click)="sort('name')" class="sort">Name</span><i [ngClass]="sortArrow('name')" class="glyphicon" aria-hidden="true"></i></th>
    <th style="width:150px;"><span (click)="sort('lastName')" class="sort">Last name</span><i [ngClass]="sortArrow('lastName')" class="glyphicon" aria-hidden="true"></i></th>
    <th style="width:96px;"><span (click)="sort('gender')" class="sort">Gender</span><i [ngClass]="sortArrow('gender')" class="glyphicon" aria-hidden="true"></i></th>
    <th style="width:150px;"><span (click)="sort('birthDate')" class="sort">Birth date</span><i [ngClass]="sortArrow('birthDate')" class="glyphicon" aria-hidden="true"></i></th>
    <th><span (click)="sort('maritalStatus')" class="sort">Marital Status</span><i [ngClass]="sortArrow('maritalStatus')" class="glyphicon" aria-hidden="true"></i></th>
    <th><span (click)="sort('education')" class="sort">Education</span><i [ngClass]="sortArrow('education')" class="glyphicon" aria-hidden="true"></i></th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th></th>
    <th><input type="text" class="form-control" placeholder="ID" name="personalID" [(ngModel)]="filterCustomer.personalId"></th>
    <th><input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="filterCustomer.name"></th>
    <th><input type="text" class="form-control" placeholder="last name" name="lastname" [(ngModel)]="filterCustomer.lastName"></th>
    <th>
      <select class="form-control" name="gender" [(ngModel)]="filterCustomer.gender">
        <option value="">Select</option>
        <option [ngValue]="item" *ngFor="let item of jsonData.gender.data">{{item}}</option>
      </select>
    </th>
    <th>
      <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="filterCustomer.birthDate"></my-date-picker>
    </th>
    <th>
      <select class="form-control" name="maritalstatus" [(ngModel)]="filterCustomer.maritalStatus">
        <option value="">Select</option>
        <option [ngValue]="item" *ngFor="let item of jsonData.maritalStatus.data">{{item}}</option>
      </select>
    </th>
    <th>
      <select class="form-control" name="education"  [(ngModel)]="filterCustomer.education">
        <option value="">Select one</option>
        <option [ngValue]="item" *ngFor="let item of jsonData.education.data">{{item}}</option>
      </select>
    </th>
    <th colspan="2"></th>
  </tr>
  </tbody>
  <tbody *ngFor="let customer of customers | searchPipe: filterCustomer | orderBy: sortName: sortReverse; let i = index;">
  <tr  id="row{{i}}" >
    <td>{{i+1}}</td>
    <td>{{customer.personalId}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.lastname}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.birthDate.formatted}}</td>
    <td>{{customer.maritalStatus}}</td>
    <td>{{customer.education}}</td>
    <td class="clickable" >
      <i *ngIf="customer.products.length > 0" class="glyphicon glyphicon-plus" data-toggle="collapse" attr.data-target=".row{{i}}"></i>
      </td>
    <td>
      <i class="glyphicon glyphicon-file" data-toggle="modal" data-target=".customer-modal" (click)="selectCustomer(customer)"></i>

    </td>
  </tr>
  <tr class="collapse row{{i}}" *ngFor="let product of customer.products; let productIndex = index">
    <td>- </td>
    <td>{{product.registrationDate.formatted}}</td>
    <td>{{product.endDate.formatted}}</td>
    <td>{{product.price}}</td>
    <td>{{product.currency}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><i class="glyphicon glyphicon-file" data-toggle="modal" data-target=".product-modal" (click)="selectProduct(customer,productIndex);"></i></td>
  </tr>
  </tbody>

</table>


<search-modals [customer]="selectedCustomer" [selectedProduct]="selectedProduct"></search-modals>
