<h1>Add new Customer</h1>

<form [formGroup]="form" *ngIf="form">
  <h2>Personal information</h2>
  <div class="row">
    <div class="col-xs-6">
      <label >Name </label>
      <input type="text" class="form-control" formControlName="name">
      <span class="ems" *ngIf="showError('name')">{{getError('name')}}</span>
    </div>
    <div class="col-xs-6">
      <label >Last name</label>
      <input type="text" class="form-control" formControlName="lastName">
      <span class="ems" *ngIf="showError('lastName')">{{getError('lastName')}}</span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-6">
      <label>Personal ID</label>
      <input type="text" class="form-control" formControlName="personalId">
      <span class="ems" *ngIf="showError('personalId')">{{getError('personalId')}}</span>
    </div>
    <div class="col-xs-6">
      <label>Gender</label>
      <select class="form-control" formControlName="gender">
        <option value="">Select one</option>
        <option [ngValue]="item" *ngFor="let item of jsonData.gender.data">{{item}}</option>
      </select>
      <span class="ems" *ngIf="showError('gender')">{{getError('gender')}}</span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-6">
      <label>Birth date</label>
      <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="birthDate"></my-date-picker>
      <span class="ems" *ngIf="showError('birthDate')">{{getError('birthDate')}}</span>
    </div>
    <div class="col-xs-6">
      <label>Marital status</label>
      <select class="form-control" formControlName="maritalStatus">
        <option value="">Select one</option>
        <option [ngValue]="item" *ngFor="let item of jsonData.maritalStatus.data">{{item}}</option>
      </select>
      <span class="ems" *ngIf="showError('maritalStatus')">{{getError('maritalStatus')}}</span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-6">
      <label>Education</label>
      <select class="form-control" formControlName="education">
        <option value="">Select one</option>
        <option [ngValue]="item" *ngFor="let item of jsonData.education.data">{{item}}</option>
      </select>
      <span class="ems" *ngIf="showError('education')">{{getError('education')}}</span>
    </div>
  </div>
  <br>

  <contact-information *ngIf="form" [contacts]="form.controls.contacts.value"></contact-information>
  <address-information *ngIf="form" [addresses]="form.controls.addresses.value"></address-information>

  <div class="submit-button" (click)="addCustomer()">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
      <line class="top" x1="250" y1="0" x2="612" y2="0"/>
      <line class="left" x1="0" y1="40" x2="0" y2="102"/>
      <line class="bottom" x1="112" y1="62" x2="-250" y2="62"/>
      <line class="right" x1="362" y1="-40" x2="362" y2="22"/>
    </svg>
    <span>SAVE INFORMATION</span>
  </div>
  <br><br><br>
</form>
